.container {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
    width: auto;
    margin-right: 3rem;
}

.container > h2 {
    color: var(--font-white);
    font-size: 1rem;
    font-weight: 500;
}